/* Estilos para la barra de navegación */
.navbar {
    position: absolute;
    top: 20px;
    right: 30px;
  }
  
  .navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 20px;
  }
  
  .navbar ul li {
    display: inline;
  }
  
  .navbar ul li a {
    text-decoration: none;
    color: black;
    font-size: 18px;
  }
  
  .navbar ul li a .star {
    font-size: 20px;
    color: #ffbf00;
  }
  
  .navbar ul li a .menu-icon {
    font-size: 22px;
  }
  
  .navbar ul li a:hover {
    color: #6e6a68;
  }
  